@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
  font-family: "Android";
  src: url("../fontes/idroid.otf") format("opentype");
}

body {
  margin: 0;
  background-color: #84e1ad;
  font-family: Arial, Helvetica, sans-serif;
}

#cabecalho {
  background-image: linear-gradient(to top, #1a5c38, #3cd883);
  color: white;
  text-align: center;
  padding-top: 10px;
  box-shadow: 0px 1px 15px 0px black;
}

#cabecalho h1 {
  text-transform: uppercase;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 3em;
}

#cabecalho p {
  margin: 40px;
  font-size: 1.5em;
}

#cabecalho nav {
  text-align: left;
  padding-bottom: 5px;
}

#cabecalho ul {
  padding: 0;
  padding-bottom: 5px;
  margin-bottom: 0;
}

#cabecalho a {
  text-decoration: none;
  color: white;
}

#cabecalho li {
  list-style-type: none;
  display: inline;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
}

#cabecalho li:hover{
  background-color: #2FA866;
  transition: .5s;
  color: #1a5c38;
  border-radius: 5px;
}

#cabecalho li:not(:hover) {
  transition: .5s;
  border-radius: 5px;
}

main {
  background-color: white;
  min-width: none;
  max-width: 800px;
  margin: auto;
  padding: 20px;
  text-align: justify;
  box-shadow: 3px 3px 14px;
  border-radius: 0 0 10px 10px;
  line-height: 25px;
}

img {
  width: 100%;
}

main p {
  text-indent: 2em;
}

main h1,
h2 {
  color: rgb(0, 80, 0);
  text-transform: uppercase;
  padding-left: 5px;
  font-family: 'Android';
}

main h2 {
  background-image: linear-gradient(to right, #a6d1ba, white);
}

strong {
  color: rgb(0, 80, 0);
}

main a {
  background-color: #a6d1ba;
  padding: 2px 5px;
  text-decoration: none;
  color: #1A5C38;
  font-weight: bold;
}

main a::before {
  content: "\1F4CE";
}

#videoYT {
  background-color: #1a5c38;
  padding: 20px 20px;
  display: flex;
  justify-content: center; /* Alinha horizontalmente */
  align-items: center; /* Alinha verticalmente */
}

.imagens {
  display: flex;
  justify-content: center; /* Alinha horizontalmente */
  align-items: center; /* Alinha verticalmente */
}

#tabela {
  background-color: #C5EBD6;
  border-radius: 10px;
  box-shadow: 3px 3px 12px 2px;}

#tabela header {
  background-color: #2FA866;
  padding: 10px;
  margin-top: 30px;
  border-radius: 10px 10px 0px 0px;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
}

#tabela aside {
  padding: 10px;
}

#tabela ul {
  display: inline-block;
  padding-left: 10px;
}

#tabela p {
  margin: 0;
}

#direito{
  margin-left: 150px;
}

#tabela li {
  list-style-type: none;
}

#tabela li::before {
  content: '✓';
  font-weight: bolder;
  margin-right: 10px;
}

footer {
  background-color: #1A5C38;
  padding: 5px;
  text-align: center;
  margin-top: 20px;
}

footer p {
  margin: 0;
  color: white;
}

footer a{
  text-decoration: none;
  color: white;
  font-weight: bolder;
  font-style: italic;
}

footer a:hover {
  text-decoration: underline;
}